<%= render "layouts/navbar" %>

<div class="container">

<% @cocktails.each do |cocktail| %>
<div class="card m-3">
  <%= link_to cocktail.name, cocktail_path(cocktail) %>
</div>
<% end %>
</div>

<%= cl_image_tag("h0e8n1rlslcgr6miqjbi",
      width: 400, height: 300, crop: :fill) %>
