<%= render "layouts/navbar" %>

<div class="card">
  <%= @cocktail.name %>
</div>

<%= link_to 'leave a dose note', new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>


<% @cocktail.photos.each do |photo| %>

<%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>

<% end %>
