<h1 class="text-center">WELCOME TO YOUR BAR</h1>


<div class="container d-flex justify-content-around">
  <div class="card">
    <%= link_to 'create', new_cocktail_path, class: "btn btn-primary"%>
  </div>
  <div class="card">
    <%= link_to 'homepage', cocktails_path, class: "btn btn-primary"%>
  </div>
</div>

<br>



